@page "/editar/alterar-senha"
@inherits EditPasswordPageCode

<PageTitle>eSistem - Alterar Senha</PageTitle>
<MudSnackbarProvider/>

<MudGrid Justify="Justify.Center">
    <MudItem md="8" sm="10" xs="12">
        <MudPaper Elevation="16" Class="mud-width-full pa-8 mb-10">
            <EditForm Model="InputModel" class="mt-5" OnValidSubmit="OnValidSubmitAsync">
              

                <div class="d-flex justify-center mud-width-full mb-10">
                    <MudText Typo="Typo.h4" Color="Color.Primary">EDITAR SENHA</MudText>
                </div>

                <MudTextField T="string"
                              Label="Confirme sua senha atual"
                              InputType="@(ToggleVisibility is true ? InputType.Text : InputType.Password)"
                              For="@(() => InputModel.CurrentPassword)"
                              @bind-Value="InputModel.CurrentPassword"
                              Class="mb-2"
                              Adornment="Adornment.End"
                              AdornmentIcon="@(ToggleVisibility is false ? Icons.Material.TwoTone.VisibilityOff : Icons.Material.TwoTone.Visibility)"
                              OnAdornmentClick="OnToggleVisibilityBottomCliked"
                              Error="@EditValidator.IsCurrentPasswordInvalid"
                              ErrorText="@EditValidator.CurrentPasswordError.FirstOrDefault()"/>

                <MudTextField T="string"
                              Label="Digite uma nova senha"
                              InputType="@(ToggleVisibility is false ? InputType.Text : InputType.Password)"
                              For="@(() => InputModel.Password)"
                              @bind-Value="InputModel.Password"
                              Class="mb-2"
                              Adornment="Adornment.End"
                              AdornmentIcon="@(ToggleVisibility is false ? Icons.Material.TwoTone.VisibilityOff : Icons.Material.TwoTone.Visibility)"
                              OnAdornmentClick="OnToggleVisibilityBottomCliked"
                              Error="@EditValidator.IsPasswordInvalid"
                              ErrorText="@EditValidator.PasswordError.FirstOrDefault()"/>

                <MudTextField T="string"
                              Label="Confirme sua nova senha"
                              InputType="@(ToggleVisibility is false ? InputType.Text : InputType.Password)"
                              For="@(() => InputModel.ConfirmPassword)"
                              @bind-Value="InputModel.ConfirmPassword"
                              Class="mb-2" 
                              Adornment="Adornment.End"
                              AdornmentIcon="@(ToggleVisibility is false ? Icons.Material.TwoTone.VisibilityOff : Icons.Material.TwoTone.Visibility)"
                              OnAdornmentClick="OnToggleVisibilityBottomCliked"
                              Error="@EditValidator.IsConfirmPasswordInvalid"
                              ErrorText="@EditValidator.ConfirmPasswordError.FirstOrDefault()"/>

                <div class="d-flex mt-10">
                    @if (IsBusy)
                    {
                        <MudButton Disabled="true" Color="Color.Primary" Variant="Variant.Text">Voltar</MudButton>
                        <MudSpacer></MudSpacer>
                        <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
                    }
                    else
                    {
                        <MudButton Variant="Variant.Text"
                                   Color="Color.Primary"
                                   Href="/login">Voltar</MudButton>

                        <MudSpacer />

                        <MudButton Variant="Variant.Filled"
                                   ButtonType="ButtonType.Submit"
                                   Color="Color.Primary">Registrar</MudButton>
                    }
                </div>

            </EditForm>
        </MudPaper>
    </MudItem>
</MudGrid>